/*general*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial,sans-serif;
   
}

h1 {
    font-family: "Crete Round",serif;
    font-size: 3rem;
    color: #444;
    margin-top: 40px;
}

ul {
    list-style: none;
}

.orange {
    color: #ff7a00;
}

#container {
    max-width:950px;
    margin: 0 auto;
    padding: 0 80px;
 
}

a { 
    list-style-type: none;
    text-decoration: none;
    color: #444;
   
  
}

h2 {
    color: #777;
    font-size: 2.5rem;
   
}



h3 {
    font-size: 2rem;
    color: #444;
    line-height: 12px;
}
h4 {
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 10px;
    word-wrap: break-word;
}

p {
    color: #777;
    font-size: 1.4rem;
    text-align:justify;
    justify-content:left;
    word-wrap: break-word;
}


/*header*/


header {
    height: 120px;
}

    header h1 {
        float: left;
        border-top:solid 2px #777;
        border-bottom:solid 2px gray;

    }

/*main-image*/

#main__image {
    height: auto;
    background: url("images/img1.jpg") center;
    max-width:100%;
    display:block;

}

    #main__image div h2 {
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        padding: 120px 0 40px 0px;
        margin-bottom: 20px;
        color:whitesmoke;
        font-family:fantasy, Tahoma, Geneva, Verdana, sans-serif,serif;
    }
.over__lay {
    background: rgba(00,00,00,0.40);
    height:510px;
    border-radius: 10px 0 0 10px;
    
    
    
     }
    .button__1 {
    display: block;
    width: 200px;
    height: 50px;
    background: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-size: 200% auto;
    box-shadow:3px 1px 1px 2px #eee;
    position: relative;
    transition: transform 450ms, background-color 300ms 150ms;
   
   
}

    .button__1:hover {
        transform: scale(1.13);
         background-position: right center;
         
    }


/* steps */
.list{
    padding:60px 0 40px 0;
}

#steps h2 {
    font-size: 3rem;
    margin-top: 50px;
    text-align: center;
    color: gray;
    border-bottom: solid 0.10px #ff7a00;
}
 
#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top:25px;
}


#steps p {
    margin-bottom: 20px;
    text-align:left;
    
}


/*contact*/

#contact h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 0.10px #ff7a00;
    color: gray;
}
    #contact p{
        margin:20px 0 40px 0;
    }
    #contact ul li{
        text-align:center;
        font-size:1.6rem;
       margin-bottom:20px;  
   }
        #contact ul li i {
          color: #ff7a00;
         margin-right:10px;
        }

/*footer*/

footer {
    height: 260px;
    background-color:#fff;
}

    footer h1 {
        color: white;
        text-align: center;
        padding-top: 80px;
    }

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
@media all and (max-width:450px){
    #container{
        padding:0 20px;
    }
    h1{
        font-size:2rem;  
    }
   
    h2{
        font-size:1.8rem;
    }
    #steps h2{
        font-size:1.7rem;
    }
    h3{
        font-size:1.6rem;
    }
    h4{
        font-size:1.2rem;           
    }
    p{
        font-size:1.1rem;
    }
    #contact ul li{
        font-size:1.1rem;
    }
}

